<mat-list *ngIf="!msgErro">
  <mat-list-item>
    <h4 mat-line>Latitude</h4>
    <p mat-line>{{pos.coords.latitude}}</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>Longitude</h4>
    <p mat-line>{{pos.coords.longitude}}</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>Distância da Fatec Franca</h4>
    <p mat-line>{{dist * 1000}} m</p>
    <p mat-line *ngIf="dist <= 0.075">
      <strong>Parece que você está na Fatec Franca</strong>
    </p>
    <p mat-line *ngIf="dist > 0.075">
      <strong>OPA! VOCÊ NÃO ESTÁ NA FATEC FRANCA!</strong>
    </p>
  </mat-list-item>
</mat-list>

<mat-list *ngIf="msgErro">
  <mat-list-item>
    <h1 mat-line>Erro</h1>
    <p mat-line>{{msgErro}}</p>
  </mat-list-item>
</mat-list>